@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Аккаунты:</p>
    <p>Наблюдатель - Почта: email_1@gmail.com Пароль: Pass_1</p>
    <p>Оператор - Почта: email_2@gmail.com Пароль: Pass_2</p>
</div>
